joblib==1.5.1
pandas==2.3.0
numpy==2.3.0
scikit-learn==1.7.0
mlflow-skinny==3.1.1
dagshub
GitPython==3.1.44
gitdb==4.0.12
python-dateutil==2.9.0.post0
requests
setuptools==78.1.1
packaging
pyyaml==6.0.2
typing_extensions
